.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.container {
	margin: 0 !important;
	max-width: none !important;
}

.col-back-button {
	margin-top: 5%;
}

.col-slogan {
	text-align: center;
	margin: 4% 0 0 0;
}

.slogan-text {
	font-size: 16.5px;
	font-weight: bold;
	letter-spacing: .15px;
	width: 80% !important;
	margin: 0 auto !important;
}

.row-product {
	margin-bottom: 10px !important;
}

.row-store {
	padding: 0;
	background-color: rgb(238, 238, 238);
	width: 100vw !important;
	margin-top: 2% !important;
}

.col-store {
	padding: 0 !important;
}

.img-store {
	width: 100%;
}
