@font-face {
	font-family: 'Unity';
	src: url('../src/assets/fonts/TCCC-UnityText-Regular.woff') format('woff'),
		url('../src/assets/fonts/TCCC-UnityText-Bold.woff') format('woff'),
		url('../src/assets/fonts/TCCC-UnityText-Medium.woff') format('woff'),
		url('../src/assets/fonts/TCCC-UnityText-Black.woff') format('woff');
}

@font-face {
	font-family: 'UnityCondensed';
	src: url('../src/assets/fonts/TCCC-UnityCondensed-Bold.woff') format('woff'),
		url('../src/assets/fonts/TCCC-UnityCondensed-Medium.woff') format('woff');
}

body {
	margin: 0;
	font-size: 16px !important;
	color: #333 !important;
	font-family: "Unity", "Gotham A", "Gotham B" !important;
	line-height: 1.42857143;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: "Unity", "Gotham A", "Gotham B" !important;
}

.navbar {
	width: auto;
	height: 90px;
	background-color: #ffffff;
	margin: 0;
	padding: 0 14px 0 32px !important;
	font-weight: 400;
}

.navbar-light .navbar-nav .nav-link {
	color: #000 !important;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #f40000 !important;
}

.nav-logo {
	width: auto;
}

.nav-header {
	margin-left: 36px;
}

.nav-cokes {
	height: 10vh;
	width: auto;
}

.dropdown-item {
	padding: 3px 8px !important;
}

.nav-icon {
	font-size: 2%;
	color: #000;
}
.nav-icon:hover {
	color: #f40000;
}

.nav-icon-left {
	margin-right: 10px;
}

.list-unstyled {
	margin: 0 !important;
	padding: 1% 2% !important;
}

.dropdown-right-1 {
	top: 32px !important;
	left: -10vw !important;
}

.dropdown-right-2 {
	top: 32px !important;
	left: -5vw !important;
}

.dropdown-title {
	cursor: default !important;
	padding-bottom: 14px !important;
	text-align: center !important;
	color: #000 !important;
}

.dropdown-item {
	font-weight: bold !important;
}

.dropdown-right-item {
	color: #545454 !important;
}

.image-title {
	border: none !important;
	text-align: center !important;
	margin-top: 90px !important;
	width: 100vw !important;
}

.banner-overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	top: 25% !important;
}

.banner-title {
	font-weight: 700 !important;
	text-align: center;
	font-size: 45px !important;
	max-width: 100%;
	margin: 0 15% 0 15% !important;
}

.banner-text {
	font-family: 'UnityCondensed';
	text-align: center;
	font-weight: 500;
	letter-spacing: .25px;
	font-size: 22px;
	max-width: 100%;
	margin: 0 !important;
}

.scroll-group {
	width: 100%;
}

.scroll-arrow {
	width: 25px;
	text-align: center;
}

.banner-image {
	position: absolute;
	width: 100vw !important;
	height: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.back-link,
.back-link:hover {
	outline: none;
	font-size: 15px;
	color: #000;
	text-decoration: none;
	margin: 7%;
}

.back-arrow {
	outline: none;
	margin-right: 1%;
}

.product-card {
	display: flex !important;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border: none !important;
	width: 80%;
}

.product-cc {
	float: right !important;
}

.product-decaf {
	float: left !important;
}

.product-card-body {
	text-align: center !important;
	font-size: 16px;
}

.button-style {
	border-radius: 25px !important;
	background-color: #000 !important;
	border: none !important;
	padding: 3px 30px !important;
	margin-top: 10px !important;
	font-weight: 700 !important;
	font-size: 10px !important;
	outline: none;
}

.store-button {
	background-color: rgb(244, 0, 0) !important;
}

.shop-link,
.shop-link:hover {
	text-decoration: none;
	color: #fff;
	outline: none;
	margin: 0;
}

.store-card {
	border: none !important;
	width: 100%;
	background: transparent !important;
}

.store-group {
	padding: 0 10% !important;
	font-size: 18px;
}

.store-image {
	width: 210px !important;
	height: auto;
	margin: 8% 0 2% 10%;
}

.row-footer {
	width: 100vw !important;
	background: #000;
	padding: 5% 6% 0 5% !important;
	color: #fff;
}

.col-footer {
	margin: 0 auto;
	font-size: 14px;
}

.footer-title {
	margin: 0 0 3% 0 !important;
	font-weight: bold !important;
}

.footer-text {
	font-weight: bold !important;
	float: left !important;
	margin: 0 !important;
}

.footer-right {
	text-align: center;
}

.email-input {
	border: none !important;
}

.birth-group {
	display: flex !important;
	justify-content: space-between !important;
}

.birth-dropdown {
	font-weight: bold !important;
	color: #000 !important;
	background: #fff !important;
	border: none !important;
}

.input-checkbox {
	margin: 8% 0 !important;
}

.checkbox-style {
	color: #000;
}

.input-group-text {
	border: none !important;
	background-color: transparent !important;
	padding: 0 !important;
}

.checkbox-text {
	float: left !important;
	margin: 0 !important;
	text-align: left !important;
	font-weight: bold !important;
}

.checkbox-link,
.checkbox-link:hover {
	text-decoration: underline;
	color: #fff !important;
}

.footer-button {
	background-color: #fff !important;
	color: #f40000 !important;
	border: none !important;
	border-radius: 30px !important;
	font-weight: bold !important;
	padding: 15px 30px !important;
	width: 100%;
	margin: 5px !important;
	font-size: 16px !important;
	max-width: 230px;
}

.footer-button:hover {
	background-color: rgb(238, 238, 238) !important;
}

.row-sns {
	background: #000;
	color: #fff;
	padding: 0 12% 2% 12% !important;
	text-align: center;
}

.logo-img {
	max-width: 100% !important;
	flex: 0 !important;
	margin: 1% auto !important;
}

.sns-title {
	font-weight: bold !important;
	margin: 0 auto 1% auto !important;
}

.sns-group {
	display: flex;
	justify-content: center;
	margin: 0 auto 1% auto;
}

.contact-group {
	display: flex;
	margin: 0 auto !important;
	text-align: center;
	justify-content: space-evenly;
}

.contact-link,
.contact-link:hover {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

.card-zero {
	width: 105px !important;
	margin: 0 auto !important;
}

.banner-energy {
	text-align: left !important;
	float: left !important;
	font-size: 30px !important;
	font-weight: bold !important;
	width: 40% !important;
}

.banner-overlay-energy {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	top: 10% !important;
	left: 10% !important;
}

.title-flavor {
	position: relative !important;
	height: 100%;
}

.bottom-flavor {
	position: relative !important;
	margin-bottom: 0 !important;
}

.top-flavor {
	position: absolute !important;
	width: 416px !important;
	top: 25% !important;
	left: 8% !important;
}

.banner-flavor {
	color: #f40000 !important;
	text-align: left !important;
	float: left !important;
	font-size: 14px !important;
	width: 30% !important;
}

.banner-overlay-flavor {
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	top: -25% !important;
	left: 7% !important;
	height: 100%;
}

.col-flavor-back {
	margin-top: 1.5% !important;
}

.row-body {
	width: 80% !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.banner-local {
	height: auto !important;
	position: relative !important;
}

.title-local {
	font-weight: 600 !important;
	font-size: 35px !important;
	width: 800px !important;
}

.overlay-local {
	align-items: baseline !important;
	margin-top: 3% !important;
}

.row-local {
	margin-top: 2%;
	margin-bottom: 1%;
	width: 85%;
	margin-left: auto !important;
	margin-right: auto !important;
}

.local-card {
	border: none !important;
	width: 565px !important;
	height: 594px !important;
	margin: 0 auto !important;
}

.local-bg {
	width: 565px !important;
	height: 594px !important;
}

.local-parent {
	display: flex;
	justify-content: flex-start;
	padding: 10px !important;
	flex-wrap: wrap;
	margin: 0 auto;
}

.local-image {
	width: 377px !important;
	height: 479px !important;
	position: relative;
}

.local-bottle {
	width: 150px !important;
	height: 520px !important;
}

.local-title {
	position: absolute;
	color: rgb(228, 30, 40) !important;
	margin: 0 auto !important;
	font-weight: bold !important;
	font-size: 28px !important;
	top: 320px;
	left: 70px;
}

.local-berry {
	width: 300px;
	left: 110px !important;
}

.row-video-store {
	margin-top: 0 !important;
	padding: 0;
	background-color: rgb(238, 238, 238);
	width: 100vw !important;
}

.col-video {
	background-color: #000;
	text-align: center !important;
	padding: 20px 0 !important;
}

.video-text {
	color: #fff !important;
}

.video-style {
	margin: 20px auto !important;
}

.video-down {
	font-family: "UnityCondensed";
	color: #fff !important;
	word-break: break-all;
}

.history-content {
	margin-left: auto !important;
	margin-right: auto !important;
	margin-top: 90px !important;
	background-image: url("../src/assets/images/background.png") !important;
	background-color: #fff;
	background-size: 100%;
	max-width: 100vw !important;
}

.history-text {
	margin: 5% auto !important;
	max-width: 55% !important;
}

.history-container {
	padding: 0 !important;
}

.history-container p {
	font-size: 16px !important;
}

.history-nav {
	padding: 0 15px !important;
}

.history-text h2 {
	font-size: 40px;
	font-weight: bolder;
	color: rgb(74, 74, 74);
	padding: 0;
	margin: 0;
}

.history-text h3 {
	margin: 0 0 1%;
	font-size: 30px;
	font-weight: bolder;
	padding: 0 0 5%;
	color: rgb(74, 74, 74);
}

.history-text h5 {
	font-weight: bold;
	padding: 1% 0;
	font-size: 16px;
	color: #636466;
	line-height: normal;
	vertical-align: baseline;
}

.history-text p {
	color: #575757;
	line-height: 1.55 !important;
	padding: 0 0 15px;
	vertical-align: baseline;
	text-align: justify;
}

.history-text strong {
	color: rgb(244, 0, 9);
}

.history-text-medium {
	font-weight: bold !important;
}

.history-image {
	float: right;
	margin: 0 10px;
}

.row-explore {
	margin-left: auto !important;
	margin-right: auto !important;
	margin-top: 90px;
	width: 80%;
}

.col-explore {
	margin-top: 40px !important;
}

.col-explore h2 {
	font-weight: bolder;
	margin: 0 0 2% 0;
	font-size: 40px;
}

.col-explore h6 {
	margin: 0 0 10px;
	font-size: 14px;
}

.col-explore hr {
	margin: 50px 0 60px 0;
	border: none;
	height: 2px;
	background: rgb(225, 225, 225);
}

.col-explore h3 {
	font-size: 23px;
	font-weight: bolder;
	margin-bottom: 20px;
	white-space: nowrap;
	display: inline-block;
	max-width: 100%;
}

.explore-dropdown {
	margin-right: 35px;
	display: inline-block !important;
}

.explore-button button,
.explore-button button:hover,
.explore-button button:focus {
	background-color: #fff !important;
	color: #000 !important;
	border-color: rgb(225, 225, 225) !important;
	border-radius: 0 !important;
	border-width: 2px !important;
	width: 300px !important;
	text-align: left !important;
}

.explore-item {
	width: 300px !important;
}

.explore-button .dropdown-toggle::after {
	float: right !important;
	margin-top: 3%;
}

.explore-link,
.explore-link:hover {
	margin-top: 27px;
	display: block !important;
	text-decoration: underline;
	font-size: 16px;
	cursor: pointer;
	color: #000;
	font-weight: bold;
}

.row-tab {
	margin: 30px auto !important;
	width: 65% !important;
}

.tab-nav,
.tab-nav a {
	border-radius: 0 !important;
	border-color: #000 !important;
	border-width: 1px !important;
	margin: 0 !important;
	color: #000;
}

.tab-nav a:hover,
.tab-nav .nav-link.active {
	background-color: #eee !important;
	color: rgb(100, 100, 100) !important;
}

.tab-nav .nav-item {
	border-bottom: none !important;
	margin-bottom: -1px !important;
	font-weight: bold;
}

.tab-text {
	border-left: solid;
	border-right: solid;
	border-bottom: solid;
	border-radius: 0;
	border-color: #000;
	border-width: 1px;
	padding: 40px 60px;
}

.tab-nutrition {
	float: left;
	width: 40%;
	display: block;
	color: #000;
	border: solid;
	border-width: 1px;
	padding: 10px;
}

.tab-nutrition h3 {
	font-weight: bolder;
	font-size: 27px;
	text-align: center;
	margin: 0;
}

.tab-nutrition p {
	margin: 0;
}

.nutrition-hr-1 {
	margin: 2px 0 6px 0;
	border: none;
	height: 2px;
	background: #000;
}

.nutrition-hr-2 {
	margin: 0 0 2px 0;
	border: none;
	height: 10px;
	background: #000;
}

.nutrition-hr-3 {
	margin: 0;
	border: none;
	height: 4px;
	background: #000;
}

.nutrition-hr-4 {
	margin: 0;
	border: none;
	height: 1px;
	background: rgb(100, 100, 100);
}

.tab-info {
	display: block;
	width: 45%;
	float: right;
	color: #000;
}

.nutrition-between {
	margin: 0;
	display: flex;
	justify-content: space-between;
	font-weight: bolder;
}

.nutrition-large {
	font-size: 23px;
	font-weight: bold;
}

.nutrition-large-num {
	font-size: 30px;
	line-height: 2.75;
	font-weight: bold;
}

.nutrition-bold {
	font-weight: bolder;
}

.nutrition-right {
	float: right;
	font-weight: bolder;
	position: relative;
	margin: 2px 0 !important;
}

.info-title {
	margin: 0 0 12px;
	font-size: 17px;
	font-weight: bolder;
}

.info-title-2 {
	font-size: 16px;
	font-weight: bolder;
	margin: 0 0 5px;
}

.row-new {
	background-color: rgb(238, 238, 238);
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2%;
}

.row-new-product {
	padding-bottom: 5%;
}

.explore-card {
	background-color: rgb(238, 238, 238) !important;
}

.row-new h4 {
	font-weight: 900;
	text-align: center;
	font-size: 20px;
}

@media (min-width: 1100px) {
	.navbar .navbar-expand-lg .navbar-nav {
		padding-left: 32px !important;
		padding-right: 32px !important;
	}
	.nav-link {
		margin-right: 32px;
	}
}

@media screen and (min-width: 769px) {
	.navbar .navbar-expand-lg .navbar-nav {
		flex-wrap: nowrap !important;
		justify-content: unset !important;
		height: 90px !important;
		padding-left: 14px !important;
		padding-right: 14px !important;
	}
	.nav-link {
		margin-right: 14px;
	}
	.nav-logo {
		text-align: left;
		margin: 16px 10px 16px 10px !important;
	}
	.nav-header {
		display: block;
		order: 2;
		width: auto;
		flex-grow: 1;
		top: 0;
		position: relative;
		overflow-y: visible;
		height: auto;
	}
	.image-title {
		min-height: 400px;
	}
}
